.contenedor{
    background-color: gray;
    display: flex;
    /*justify-content: flex-start;*//*por defecto*/
    /*justify-content: flex-end;*//*mande los elementos a la derecha*/
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}

.item{
    background-color: blue;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 30px;
}