.caja{
    background-color: yellow;
    width: 250px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 50px;  
    margin: 100px;
    box-shadow: 10px 20px 5px black; /*la sombra tiene como minimo 4 parametros*/
    /*     horizontal,vertical,desenfocado y el color */ 
    /*si lo quiero para el otro lado los numeros los pongo en negativo*/
}